<div class="container">
  <h1>Add a bookmark</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, label: "Comment" %>
    <%= f.association :movie, label: "Movie" %>
    <%= f.association :list, label: "List" %>
    <%= f.button :submit, value: "Add bookmark", class: "btn btn-gradient" %>
  <% end %>
  <br>
  <%= link_to "Back", list_path(@list), class: "btn btn-gradient"  %>
</div>
